// place your custom styles here

.vp-navbar-center {
  justify-content: flex-end;
}

.vp-navbar-end {
  flex: 0;
  margin-left: 12px;
}

.vp-hero-info {
  flex-direction: column;
}

.vp-hero-infos h1 {
  text-align: center;
}
